
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }/* Общие стили */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Навигация */
.navigation {
    padding-left: 70px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navigation-user {
    display: flex;
    margin-left: auto;
    align-items: center;
    list-style: none;
    gap: 20px; /* регулируй по вкусу */
    padding: 30px;
}

.navigation-list {
    display: flex;
    gap: 25px; /* Расстояние между элементами списка */
    list-style: none;
}

.navigation-link {
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-link-button {
    background-image: url("images/button-wannago.png");
    width: 160px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.navigation-link-favourite {
    display: block;
    position: relative;
    background-image: url("images/icon-fav.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-link-search {
    display: block;
    background-image: url("images/icon-search.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.favorite-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #7db641; /* Зелёный круг */
    color: white;
    font-size: 10px;
    line-height: 1;
    padding: 4px;
    border-radius: 50%;
    min-width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Блок с изображением */
.hero-img {
    background-image: url("images/welcome-divider.png"), url("images/bg-welcome.jpg");
    background-size: 100% auto, cover;
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-color: #ffffff;
    padding: 0;
    text-align: center;
    min-height: 485px;
}

/* Текстовые блоки */
.description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.reason {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
}

/* Общие стили для секции */
.advantages {
    padding-top: 40px;
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

/* Заголовки и описания */
.description,
.reason {
    margin: 0 auto 20px;
    max-width: 800px;
}

/* Общий список */
.advantages-list {
    list-style: none;
    padding: 0;
}

/* ========================= */
/* Блок с изображением + текст */
.advantages-item-item {
    display: flex;
    width: 100%;
    min-height: 385px;
    background-color: #82b3d3;
    color: #ffffff;
    box-sizing: border-box;
}

h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.colored-bg {
    background-color: #83b3d333; /* можно заменить на любой другой цвет */
}

.advantages-item-item.reverse {
    flex-direction: row-reverse;
}

.advantages-text {
    width: 33.33%;
    padding: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: #82b3d3;
}

.town {
    width: 66.66%;
    height: 385px;
}

.town img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.advantages-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.services-list-home,
.services-list-souvenir,
.services-list-food {
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 85px;
}

.icon-home {
    background-image: url("images/bg-house.svg");
    width: 74px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-food {
    background-image: url("images/bg-food.svg");
    width: 74px;
    height: 70px;
}

.icon-souvenir {
    background-image: url("images/bg-giftbox.svg");
    width: 64px;
    height: 76px;
}

.services-list {
    display: flex;
    justify-content: space-between; /* Разделяем блоки на равные расстояния */
    gap: 30px; /* Добавляем отступы между блоками */
}

.services-list-souvenir-description,
.services-list-homе-description,
.services-list-food-description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.sedona-hottels {
    width: 100%;
    min-height: 406px;
    padding-top: 96px;
    padding-right: 304px;
    padding-left: 304px;
    gap: 10px;
    background-color: #ffffff; /* Белый фон */
}

.sedona-hottels-size-title {
    margin-bottom: 20px; /* Можно менять значение на больше или меньше */
}

.search-sedona-hottels-button {
    background-image: url("images/button-Search-hotels.png");
    display: inline-block;
    width: 276px;
    height: 36px;
    background-size: cover;
    margin-top: 20px;
    background-position: center center; /* Центрируем изображение */
}

.sedona-hottels-text {
    width: 592px;
    height: 52px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;   /* Учитываем паддинги */
}

.sedona-hottels-description {
    margin: 0;
    padding: 0; /* Убираем паддинги */
    text-align: center; /* Центрируем текст */
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.sedona-hottels-size {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем по вертикали */
    align-items: center;     /* Центрируем по горизонтали */
    height: 214px;
}

.advantage-block {
    width: 33.33%;
    min-height: 385px;
    padding-top: 103px;
    padding-right: 85px;
    padding-bottom: 103px;
    padding-left: 85px;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f5faff; /* Цвет боков */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
}

.advantage-block-midl {
    width: 33.33%;
    background-color: #83b3d333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage-block-midl .advantage-block {
    background-color: transparent; /* Убираем фон у вложенного блока */
    width: 100%;
}

/* Финальный блок-призыв */
.advantages-item {
    background-color: #ffffff;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 20px;
    padding: auto;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Общие элементы */
.advantages-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.advantages-description-one {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 10px;
}

.advantages-description-two {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400px;
    font-size: 22px;
    line-height: 2px;
    text-align: center;
    margin-top: 10px;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #b0c4de;
    margin: 0 auto 15px;
}

.advantages-items-row {
    display: flex;
    width: 100%;
    background-color: #f5faff;
    box-sizing: border-box;
    justify-content: center;
    gap: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.advantage-road {
    background-color: #83b3d333 !important; /* можно заменить на любой другой цвет */
}

.advantages-items-row .advantage-block {
    width: 33.33%;
    height: 385px;
    padding: 103px 85px;
    text-align: center;
    background-color: #f5faff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* Скрытие элементов */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Кнопка */
.button-like {
    background-image: url("images/button-wannago.png");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #756157;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Подвал */

.page-footer {
    background-size: 100%;
    background-position: center;
    padding: 40px 20px;
    color: #ffffff; /* Белый цвет текста для контраста с фоном */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe {
    width: 100%;
    background-image: url("images/bg-subscribe-blur.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 414px;
    padding-top: 96px;
    padding-right: 258px;
    padding-bottom: 104px;
    padding-left: 258px;
    gap: 10px;
}

.discription {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reasons {
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 0.8; /* Лёгкая прозрачность для текста */
}

/* Стили для формы подписки */
.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 0;
}

.field {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px 0 0 5px; /* Скругление только слева */
    font-size: 16px;
    outline: none;
}

.button-subscribe {
    padding: 10px 20px;
    background-color: #4a90e2; /* Голубой цвет кнопки */
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0; /* Скругление только справа */
    font-size: 16px;
    cursor: pointer;
}

/* Стили для секции контактов */
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 520px;
}

.footer-social-media {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.footer-social-media-item {
    padding: 12px 13px;
}

.footer-contacts-phone-link {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.contacts-left {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contacts-center {
    flex-grow: 1;
    text-align: center;
}

.contacts-right {
    flex-shrink: 0;
}


/*catalog.html*/

.inner-header{
    background-image: url(images/bg-catalog-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 35px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
}
.inner-header-title{
    font-family: PT Sans;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
}
.breadcrumbs-link{
    background-image: url(images/catalog-home.png);
    width: 12px;
    height: 12px;
}
.catalog-filter-group{
    width: 150px;
    height: 150px;
}
.catalog-forms{
    display: flex;
    justify-content: flex-start;
    gap: 70px;
}